
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="example">
    <div id="grid"></div>
    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {
                    type: "webapi",
                    transport: {
                        read:
                        {
                            url: "/api/JoinApi/Test_GetAll"
                        }
                    },
                    schema:
                    {
                        data: "Data",
                        total: "Total",
                        model:
                        {
                            id: "Id",
                            fields:
                            {
                                Id: { type: "number" },
                                name: { type: "string" },
                                dept: { type: "string" }
                            }
                        }
                    }
                    , pageSize: 20
                   
                },
                //height: 550,
                //groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                },
                columns: [{
                    field: "name",
                    title: "名子"
                },
                {
                    field: "dept",
                    title: "部門"
                }],
                toolbar: [{ name: "create", text: "新增一筆資料" }]
            });
        });
    </script>
</div>
